<div class="container" style="margin-top: 100px;">

  {{!--fila1--}}  
<div class="row">
<div class="col">
<p class="text-end">
<span>Hola {{usuario}}!</span>
<a href="/admin/login/logout" class="btn btn-danger">Cerrar sesion <i class="fas 
fa-sign-out-alt"></i></a>
</p>
</div>
</div>
{{!-- fin fila1--}}

{{!--fila2--}}
<div class="row">
<div class="col-7" style="margin-top:9px;">
    <h2>Listado de Productos</h2>
</div>
<div class="col-5 text-rigth">
<a href="/admin/productos/agregar" class="btn btn-success"><i class="fas fa-plus"></i>Nuevo</a>
</div>
</div>
{{!-- fin fila2--}}

{{!--fila3--}}
<div class="row">
<div class="col">
<table class="table">
    <thead>
        <tr class="table-dark">
        <th scope="col">#</th>
        <th scope="col">TITULO</th>
        <th scope="col" class="text-right">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {{#each productos}}
        <tr>
            <th scope="row">{{id}}</th>
            <td>{{titulo}}</td>
            <td class="text-right">
               <a href="/admin/productos/modificar/{{id}}" class="btn btn-primary"><i class="fas fa-pencil-alt"></i></a>
               <a href="/admin/productos/eliminar/{{id}}" class="btn btn-secondary"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
        {{/each }}
        </tbody>
        </table>
            </div>
    </div>
    {{!-- fin fila 3--}}
</div>