<div class="container" style="margin-top: 100px;">

  {{!--fila1--}}  
<div class="row">
<div class="col">
<p class="text-end">
<span>Hola {{usuario}}!</span>
<a href="/admin/login/logout" class="btn btn-danger">Cerrar sesion <i class="fas 
fa-sign-out-alt"></i></a>
</p>
</div>
</div>
{{!-- fin fila1--}}

{{!--fila2--}}
<div class="row">
<div class="col-7" style="margin-top:9px;">
    <h2>Listado de Productos</h2>
</div>
<div class="col-2 text-left">
<a href="/admin/productos/agregar" class="btn btn-success"><i class="fas fa-plus"></i>Nuevo</a>
</div>
<div class="col-3 text-right">
  <form class"form-inline" action="/admin/productos" method="get">
     <input class="form-control" type="search" placeholder="Buscar" aria-label="Search" name="q"{{#if q}} value="{{q}}"{{/if}}>
     <button class="btn btn-secondary my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i>
    </button>
  </form>
</div>
</div>
{{!-- fin fila2--}}

{{!--fila3--}}
<div class="row">
<div class="col">
<table class="table">
    <thead>
        <tr class="table-dark">
        <th scope="col">#</th>
        <th scope="col">TITULO</th>
        <th scope="col">DESCRIPCION</th>
        <th scope="col">IMAGEN</th>
        <th scope="col" class="text-right">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {{#each productos}}
        <tr>
            <th scope="row">{{id}}</th>
            <td>{{titulo}}</td>
            <td>{{cuerpo}}</td>
            <td>{{{imagen}}}</td>
            <td class="text-right">
               <a href="/admin/productos/modificar/{{id}}" class="btn btn-primary"><i class="fas fa-pencil-alt"></i></a>
               <a href="/admin/productos/eliminar/{{id}}" class="btn btn-secondary"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
        {{/each }}
        </tbody>
        </table>
         {{#if is_search}}
            {{#unless productos.length}}
                No se encontraron resultados para "<b>{{q}}</b>"
                {{/unless}}
                {{/if}}
            </div>
    </div>
    {{!-- fin fila 3--}}
</div>